@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root {
    --Grayish-purple: hsl(243, 13%, 69%);
    --Soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Dark-desaturated-blue-clone: hsl(236, 21%, 35%);
    --Very-dark-blue: hsl(234, 17%, 12%);
    --Dark-purple: hsl(291, 35%, 15%);
}
* {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
body {
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    background: linear-gradient(var(--Dark-purple), #2F2439);
    width: 100vw;
    min-height: 100vh;
    color: var(--Grayish-purple);
}
.container {
    margin: auto;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.heading h1 {
    font-size: 1.4rem;
    color: var(--White);
    margin: auto;
    letter-spacing: 7px;
}
.counter-div {
    margin-top: 2rem;
    
}