@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root {
    --Grayish-purple: hsl(243, 13%, 69%);
    --Dark-blue: #05386b;
    --White: hsl(0, 0%, 100%);
    --cyan: #55bcc9;
    --cyan-blue:#97caef;
    --Very-dark-blue: hsl(234, 17%, 12%);
    --Dark-purple: hsl(291, 35%, 15%);
}
* {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
body {
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    background: linear-gradient(var(--Dark-purple), #FFE577);
    width: 100vw;
    min-height: 100vh;
    color: var(--Grayish-purple);
}
.container {
    margin: auto;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.heading h1 {
    font-size: 1.4rem;
    color: var(--White);
    margin: auto;
    letter-spacing: 7px;
}
.counter-div {
    margin-top: 2rem;
    width: min(100vw, 500px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.counter-div .box {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  .box p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .counter-div .box .card-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
    border-radius: 3px;
  }
.card,
.card2 {
  position: relative;
  width: 100%;
  height: 2.4rem;
  border-radius: 3px;
  background: var(--cyan);
  overflow: hidden;
}
.card2 {
    background: var(--cyan-blue);
    box-shadow: 0 15px 9px -8px var(--Very-dark-blue);
  }
  
  .card .top,
  .card2 .bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--Dark-blue);
    font-size: 2.7rem;
    line-height: 1;
  }
  
  .card .top {
    top: 50%;
    opacity: 0.8;
  }
  
  .card2 .bottom {
    top: -50%;
  }
  
  
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(bg-stars.svg);
    z-index: -1;
  }
  
  footer {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(pattern-hills.svg) left top/cover no-repeat;
    background-position-y: 0%;
    background-size: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .social-icon {
    color: var(--Grayish-blue);
    font-size: 1rem;
  }
  
  .social-icon:hover {
    color: var(--Dark-blue);
    box-shadow: 0 1px 50px -10px var(--Dark-blue);
  }
/* .sunset {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  border-radius: 50%;
  position: absolute;
  width: 30%;
  height: 20%;
  z-index: 1;
} */
/* .sunset {
  background: radial-gradient(
      closest-corner circle at 15% 15%,
      #ffcf33,
      #ffcf33 20%,
      #ffff66 21%,
      #bbeeff 100%
    );
    border-radius: 50%;
    position: absolute;
    width: 30%;
    height: 20%;
    z-index: 1;
    align-items: center;
} */